

<div class="container">

  
{{#each coasters}}
<

<div class="card-coaster">
 <a href="/coasters/details/{{id}}"><h3>Name: {{name}}</h1></a>
  <h4>Description: {{description}}</h4>
 <h4>Inversions: {{inversions}}</h4>
  <h4>Length: {{length}}</h4>


  <h4>Park: {{park_id.name}} </h4>

   </div>
   </a>
{{/each}}
</div>
