<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción: {{description}}</h4>

  <p><strong>Longitud: </strong> {{length}} | <strong>Inversiones:</strong> {{inversions}} </p>

  <hr />

  <h5>Sobre el parque</h5>
  <p><strong>Nombre: </strong>{{park_id.name}}</p>
  <p><strong>Descripción: </strong>:{{park_id.description}}</p>

  <a href="/coasters/coasters" class="btn btn-dark">Volver</a>

  <a href="/coasters/delete/{{id}}" class="btn btn-danger">Eliminar</a>

  <a href="/coasters/edit/{{id}}" class="btn btn-primary">Editar</a>
</div>